body {
    font-family: Arial, sans-serif;
    background: url('pic1.jpg') no-repeat center center fixed; /* Make sure to replace 'background.jpg' with the path to your background image */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.weather-detail {
    background-color: rgba(6, 6, 6, 0.7); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
}

#city {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
}

#city::placeholder {
    color: #ccc;
}

#getWeather {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

#weatherData {
    margin-top: 20px;
}

h1, h2, h3, p {
    margin: 0;
    padding: 5px 0;
}
